/* CSS */


main {
    width: 100%;
    font-family: 'Raleway';
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* overlay */
    background: linear-gradient(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.25)),
        repeating-linear-gradient(180deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 5px,
            rgba(0, 0, 0, 0.15) 7px,
            rgba(0, 0, 0, 0.25) 9px),
        url(img/accueil/accueil.jpg);
    background-size: cover, cover, cover;
    /* background-position: top right, top left; */
    /* this positions the second image */
    background-repeat: repeat, no-repeat, repeat;
    color: rgb(190, 190, 190);
}

.no-scroll {
    overflow: hidden !important;
}

body {
    width: 100%;
    margin: 0;
}


/* ACCUEIL */

#neon-text {
    cursor: pointer;
}
.welcome {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5));
    padding-bottom: 165px;
}

h1 {
    padding-top: 17%;
    font-family: 'Road Rage';
    color: rgb(223, 219, 14);
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 14px;
    margin-bottom: 15px;
}


h2 {
    margin: 0;
    color: rgb(131, 241, 255);
    text-shadow: 0 0 5px rgb(22, 161, 241);
    font-family: 'Athens';
    text-align: center;
    font-size: 25px;
    letter-spacing: 12px;
    text-transform: uppercase;
}

/* CREDIT : https://codepen.io/flik185/pen/dXvaza */
.btn {
    text-decoration: none;
    border: 1.5px solid #cb357b;
    text-shadow: #cb357b 0 0 2.5px;
    color: #e60a71;
    -webkit-animation: intermittente 0.01s infinite alternate;
    animation: intermittente 0.01s infinite alternate;
    box-shadow: 0px 0px 35px rgba(204, 0, 153, 0.3),
        0 0 11px rgba(204, 0, 170, 0.3),
        0 0 2px rgba(255, 0, 221, 0.3),
        0 0 1px rgba(204, 0, 187, 0.3),
        0 0px 17px rgba(204, 0, 119, 0.3), inset 0px 0 17px rgba(204, 0, 95, 0.3), inset 0px 0 30px rgba(204, 0, 112, 0.3);
    font-size: 14px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    width: auto;
    white-space: pre-wrap;
    padding: 2px 5em;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    border-radius: 30px;
    margin-top: 100px;
}

@media (min-width: 480px) {
    .btn {
        width: auto;
    }
}

/*  NAVIGATION  -  NAVBAR*/

nav {
    z-index: 85;
    position: fixed;
    padding: 10px 0 0 0;
    width: 100%;
    transition: all .5s ease-in-out;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.burger-shower {
    display: none;
}

.hamburger {
    display: none;
}

.box-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.box-nav:nth-child(2) {
    justify-content: flex-end;
    padding-right: 100px;
}


nav ul li {
    display: flex;
}

#logo-medusa {
    /* LOGO */
    width: 100px;
    transition: width 1s ease;
    padding-left: 25px;
}

.scroll {
    position: relative;
    text-decoration: none;
    color: rgb(219, 219, 219);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

nav li:nth-child(2) {
    margin: 0 150px;
}

.scroll::before {
    content: '';
    bottom: -1.25em;
    left: 0;
    right: 0;
    display: block;
    border-radius: 15px;
    height: 4px;
    background: #fff;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

nav .scroll:hover::before {
    transform: scale(1, 1);
}

/* MAIN */

main {
    background: rgba(0, 0, 0, 0.5);
}


/* IDÉE DU JEU */

.est {
    display: flex;
    flex-direction: column;
}

.est:first-child {
    margin-right: 120px;
}

.est:nth-child(1) p {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.mini-est {
    margin-bottom: 45px;
    line-height: 25px;
    text-align: center;
}

.mini-est h4 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: rgb(255, 241, 85);
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 550;
}

.mini-est p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
}

.presentation {
    padding: 100px 200px 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.4));
}

h3 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    color: #a0fff4;
    font-weight: 500;
    text-shadow: #00ffc8 0 0 5px, #00ffc8 0 0 6px;
}

/* CONTEXTE DU JEU */
.contexte-personnage {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.contexte {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-left: 200px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}

.robots-neon {
    margin: 0 100px;
    position: relative;
}

.robots-neon img {
    width: 100%;
    display: flex;
}

.robots {
    position: relative;
    z-index: 1;
}

.neon {
    z-index: 2;
    top: 0;
    position: absolute;
}

.boxes {
    padding: 100px 0 100px 0;
    background:
        linear-gradient(rgba(0, 0, 0, .85),
            rgba(0, 0, 0, .85),
            rgba(0, 0, 0, .85),
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, 1));
}

.box-teasers {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.teaser {
    position: relative;
    display: flex;
    flex-direction: column;
}


.teasing-img {
    border: 1px dotted rgba(255, 255, 255, 0.3);
    opacity: .8;
}


.teaser:nth-child(2) {
    margin: 0 100px;
}

.teaser:nth-child(3) {
    margin-right: 100px;
}

.teaser:nth-child(4) h6 {
    text-decoration: line-through;
}


.teasing-img {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.play-button {
    position: absolute;
    margin: auto;
    top: 28%;
    left: 0;
    right: 0;
    fill: rgb(139, 139, 139);
    opacity: .7;
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: all 0.5s ease;
}

.play-button:hover {
    fill: rgb(236, 236, 236);
}

.teaser h6 {
    color: rgb(194, 194, 194);
    letter-spacing: 1px;
    margin-top: 18px;
    font-size: 15px;
    text-transform: uppercase;
}


/* ÉQUIPE */

.equipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0) 0%,
            rgb(16, 16, 32),
            rgb(16, 16, 32),
            rgb(16, 16, 32));
    padding: 50px 0 120px 0;
}

.equipe h3 {
    text-align: center;
    margin: 0;
    font-size: 45px;
}

.equipe-images {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.equipe-images img {
    width: 18vw;
    height: 71vh;
    object-fit: cover;
    position: relative;
}

.overlay {
    overflow: hidden;
    background-size: cover;
    position: relative;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-right: 15px;
}

.overlay-text {
    color: #fff;
    left: 0;
    bottom: -150px;
    position: absolute;
    z-index: 15;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 53px;
    transition: transform 1s;
    background: linear-gradient(rgba(212, 0, 255, 0),
            rgba(212, 0, 255, 0),
            rgba(212, 0, 255, 0.1),
            rgba(212, 0, 255, 0.2),
            rgba(212, 0, 255, 0.3),
            rgba(212, 0, 255, 0.3),
            rgba(212, 0, 255, 0.4),
            rgba(212, 0, 255, 0.6),
            rgba(212, 0, 255, 0.7));
}

.overlay-text:hover {
    transform: translateY(-120px);
}

.bar {
    height: 1px;
    width: 120px;
    background: #fff;
    margin-bottom: 3px;
    margin-left: 40px;
}

.overlay-text h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    width: 50px;
    text-align: center;
    margin-left: 40px;
    line-height: 35px;
}

.overlay-text p {
    width: 240px;
    line-height: 25px;
    margin-left: 40px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.overlay-text a {
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 55px;
}

.overlay-text a:hover {
    text-decoration: underline;
}

.equipe h4 {
    font-family: 'Ailerons';
    font-weight: 200;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 30px;
    text-shadow: #cb357b 0 0 15px;
}


/* FOOTER */
footer {
    background: rgb(12, 12, 24);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

.mini-footer {
    display: flex;
    flex-direction: row;
}

.footer-bloc h4 {
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

.footer-bloc p {
    font-size: 14px;
}

.footer-bloc:first-child h4 {
    text-shadow: 0 0 5px rgb(19, 220, 255),
        0 0 3px rgb(140, 238, 255);
    margin-bottom: 10px;
}

.footer-bloc:first-child h4 {
    text-shadow: 0 0 5px rgb(19, 220, 255),
        0 0 3px rgb(140, 238, 255);
}

.footer-bloc:first-child {
    margin-right: 80px;
    text-align: right;
}

.footer-bloc:nth-child(2) h4 {
    text-shadow: 0 0 5px rgb(255, 47, 19),
        0 0 3px rgb(255, 102, 75);
}

.school svg {
    width: 130px;
    fill: #fff;
}

.school svg:first-child {
    margin-right: 20px;
}

.rs svg {
    width: 30px;
    fill: #fff;
}

#twitter {
    margin: 0 15px;
}

.copyright {
    font-family: 'Athens';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 15px 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background: rgb(7, 7, 14);
}

/* MODALS */
/* The Modal (background) */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background: none;
    margin: 6% auto;
    /* 15% from the top and centered */
    height: auto;
    width: 70%;
    /* Could be more or less, depending on screen size */
}

iframe {
    position: relative;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.199);
    overflow: hidden;
    height: 80vh;
    width: 100% !important;
}

/* The Close Button */
.close {
    cursor: pointer;
    position: absolute;
    color: rgb(121, 121, 121);
    top: -70px;
    right: 0;
    font-weight: 100;
    font-size: 60px;
    font-weight: bold;
    transition: color 0.5s ease;
}

.close:hover {
    color: rgba(255, 255, 255, 0.253);
}



/* ANIMATIONS */

@-webkit-keyframes intermittente {
    75% {
        opacity: 0.7;
    }
}

@keyframes intermittente {
    75% {
        opacity: 0.7;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (max-width: 1420px) {
    h1 {
        width: 100%;
    }

    h2 {
        width: 100%;
    }

    h3 {
        font-size: 20px;
    }

    .presentation {
        padding: 100px;
    }

    .est:nth-child(1) p {
        font-size: 16px;
    }

    .est h4 {
        font-size: 16px;
    }

    .contexte {
        padding-left: 100px;
    }

    .contexte p {
        font-size: 16px;

    }

    .est:nth-child(2) p {
        font-size: 15px;
    }

    .teaser:nth-child(2) {
        margin: 0 50px;
    }

    .teaser:nth-child(3) {
        margin-right: 50px;
    }

    .teaser {
        display: flex;
        align-items: center;
    }

    .teasing-img {
        width: 85%;
        height: auto;
    }

    .modal-content {
        margin: 8% auto;
    }

    .robots-neon {
        margin: 0 20px;
    }

    .overlay-text {
        padding-bottom: 60px;
    }


    .overlay-text h5 {
        margin-left: 20px;
    }

    .overlay-text p {
        margin-left: 20px;
        font-size: 13.5px;
        width: 90%;
    }

    .overlay-text a {
        font-size: 12px;
        margin-left: 35px;

    }

    .bar {
        margin-left: 20px;
    }

    .play-button {
        top: 26%;
        width: 35%;
        transition: all 0.5s ease;
    }

}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (max-width: 1150px) {
    h1 {
        padding-top: 300px;
        font-size: 55px;
    }

    h2 {
        font-size: 20px;
    }

    .scroll {
        font-size: 12px;
    }

    .box-nav:nth-child(2) {
        padding-right: 50px;
    }

    nav li:nth-child(2) {
        margin: 0 100px;
    }

    .contexte-personnage {
        flex-direction: column;
    }

    .contexte {
        width: 79%;
        margin: 0;
        padding: 0 0 100px 0;
    }

    .overlay-text p {
        width: 85%;
        font-size: 11px;
    }

    .overlay-text {
        padding-bottom: 63px;
    }

    #neon-text {
        font-size: 12px;
    }

    .bar {
        width: 50px;
    }

    .teasing-img {
        width: 100%;
    }

    .teaser:nth-child(2) {
        margin: 0 20px;
    }

    .teaser:nth-child(3) {
        margin-right: 20px;
    }

}

@media (max-width: 1024px) {

    .equipe {
        padding: 100px 0 20px;
    }

    .equipe-images {
        flex-direction: column;
    }

    .overlay {
        margin-bottom: 25px;
    }

    .equipe-images {
        display: block;
    }

    .equipe-images img {
        object-fit: cover;
        opacity: .8;
        width: 500px;
        height: 500px;
    }

    .modal-content {
        margin: 15% auto;
    }

    .overlay-text {
        background: none;
        padding: 0;
        bottom: 40px;
        transition: none;
    }

    .overlay-text:hover {
        transform: none;
    }

    .overlay-text h5 {
        margin-left: 50px;
        font-size: 25px;
        text-align: start;
        width: 100%;
    }

    .bar {
        margin-left: 38px;
        width: 270px;
    }

    .overlay-text p {
        margin-left: 45px;
        font-size: 18px;
    }

    .overlay-text a {
        margin-left: 40px;
        font-size: 16px;
    }

}

@media (max-width: 770px) {

    ul {
        padding: 0;
    }

    h1 {
        padding-top: 350px;
        font-size: 60px;
        letter-spacing: 10px;
    }

    header {
        padding-bottom: 180px;
    }

    h2 {
        font-size: 20px;
        margin-top: 5px;
        width: 100%;
    }

    #neon-text {
        margin-top: 150px;
        font-size: 12px;
        width: 50%;
    }

    .presentation {
        flex-direction: column;
        padding: 120px 50px 50px 50px;
    }

    .est:first-child {
        margin: 0;
    }

    .est:nth-child(2) {
        padding-top: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .mini-est:nth-child(2) {
        margin: 0 10px;
    }

    .box-teasers {
        flex-direction: column;
    }

    .teaser {
        width: 75%;
    }

    .footer-bloc h4 {
        font-size: 2vw;
    }

    .footer-bloc {
        width: 50%;
        margin: 0;
        text-align: center !important;
    }

    .school svg {
        width: 25%;
    }

    .rs svg {
        width: 8%;
    }

    .copyright {
        font-size: 15px;
    }

}

@media (max-width: 680px) {

    h1 {
        padding-top: 270px;
        font-size: 50px;
    }

    h2 {
        font-size: 17px;
    }

    nav {
        font-size: 1px;
    }



    .burger-shower:checked~.burger-menu {
        display: block;
    }

    .hamburger {
        display: block;
        width: 40em;
        height: 50em;
        line-height: .1em;
        border: none;
        padding: 30px 30px 0;
    }

    .hamburger hr {
        color: #ddd;
        height: 2px;
        background: #ddd;
        /* border: none; */
    }

    .hamburger hr:nth-child(2) {
        margin: 8px 0;
    }

    #logo-medusa {
        display: none;
    }

    .box-nav:nth-child(2) {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 50px !important;
    }

    nav li {
        padding: 10px 50px;
    }

    .scroll {
        font-size: 18px;
    }

    nav li:nth-child(2) {
        margin: 0;
    }

    .burger-menu {
        display: none;
    }

    #neon-text {
        font-size: 12px;
        width: 50%;
    }

    .presentation {
        padding-top: 100px;
    }

    .modal-content {
        margin: 20% auto;
    }

    .overlay img {
        width: 100%;
    }

    .overlay-text {
        width: 80%;
    }

    .mini-footer {
        display: flex;
        flex-direction: column !important;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer-bloc {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .footer-bloc h4 {
        font-size: 25px;
    }

    .footer-bloc p {
        font-size: 18px;
    }

    .footer-bloc:first-child {
        margin: 0 0 15px 0;
    }

    .footer-bloc:first-child svg {
        width: 9%;
    }

    .footer-bloc:nth-child(2) svg {
        width: 25%;
    }

}

@media (max-width: 480px) {

    nav a {
        font-size: 11px;
    }

    #logo-medusa {
        width: 125px;
    }

    h1 {
        font-size: 32px;
        margin: 0;
    }

    h2 {
        margin-top: 12px;
        font-size: 15px;
        width: 85%;
        line-height: 25px;
    }

    #neon-text {
        font-size: 11px;
    }

    .teaser {
        margin: 0 !important;
    }

    .footer-bloc h4 {
        font-size: 20px;
    }

    .rs a svg {
        width: 50px !important;
    }

    #twitter {
        margin: 0 25px !important;
    }


}

@media (max-width: 420px) {

    h1 {
        padding-top: 250px;
    }

    .presentation {
        padding-top: 50px;
    }

}

@media (max-width: 375px) {
    nav {
        height: 12%;
    }

    #neon-text {
        margin-top: 100px;
    }

    .presentation {
        padding-top: 80px;
    }

    h1 {
        padding-top: 150px;
        font-size: 45px;
        width: 50%;
    }

    h2 {
        line-height: 50px;
    }
}

@media (max-width: 370px) {

    h1 {
        padding-top: 180px;
        font-size: 35px;
        width: 50%;
    }

    h2 {
        font-size: 13px;
        line-height: 30px;
    }

    header {
        padding-bottom: 50px;
    }

    #neon-text {
        margin-top: 80px;
        font-size: 12px;
    }

    .est:nth-child(2) {
        flex-direction: column;
    }

    .mini-est:nth-child(2) {
        margin-bottom: 30px;
    }

    .footer-bloc p {
        font-size: 15px;
        margin-bottom: 35px;
    }

    .footer-bloc h4 {
        font-size: 20px;
        width: 75%;
        margin: 5px auto 30px auto;
    }

}

@media (max-width: 320px) {

    h1 {
        padding-top: 125px;
    }

    #navbar {
        padding-bottom: 15px !important;
    }

    #neon-text {
        font-size: 10px;
    }

}