@use "../abstracts/colors" as *;
@use "../functions/breakpoints" as *;

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.55));
    z-index: 2;
    position: relative;

    .welcome {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__button {
            font-size: 1rem;
            line-height: 2rem;
            font-size: 1rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            font-weight: 300;
        }
    }
}