@font-face {
    font-family: "Road Rage";
    src: url("fonts/Road_Rage.otf") format("truetype"), url("fonts/Road_Rage.eot") format("opentype"), url("fonts/Road_Rage.woff") format("woff"), url("fonts/Road_Rage.woff2") format("woff2"), url("fonts/Road_Rage.svg") format("svg");
}

@font-face {
    font-family: "Rasterman";
    src: url("fonts/Rasterman.ttf") format("truetype"), url("fonts/Rasterman.eot") format("opentype"), url("fonts/Rasterman.woff") format("woff"), url("fonts/Rasterman.woff2") format("woff2"), url("fonts/Rasterman.svg") format("svg");
}

@font-face {
    font-family: "Athens";
    src: url("fonts/Athens-Regular.ttf") format("truetype"), url("fonts/Athens-Regular.eot") format("opentype"), url("fonts/Athens-Regular.woff") format("woff"), url("fonts/Athens-Regular.woff2") format("woff2"), url("Athens-Regular.svg") format("svg");
}
@font-face {
    font-family: "Aileron";
    src: url("fonts/Aileron-Regular.ttf") format("truetype"), url("fonts/Aileron-Regular.eot") format("opentype"), url("fonts/Aileron-Regular.woff") format("woff"), url("fonts/Aileron-Regular.woff2") format("woff2"), url("fonts/Aileron-Regular.svg") format("svg");
}
