@font-face {
    font-family: 'Road Rage';
    src: url('../assets/fonts/roadrage.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Aileron";
    src: url('../assets/fonts/aileron.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Athens";
    src: url('../assets/fonts/athens.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
